<!DOCTYPE html>
<html lang="en">


<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ML PROJECT</title>
    <link rel="stylesheet" href="../static/app.css">
</head>


<body>
    <div id="navall">

        <nav>
            <video autoplay playsinline muted loop src="/static/vid2.mp4" id="k1">

            </video>
            <div id="label">NExt movie</div>
            <ul>
                <li><a href="/movies">movie</a></li>

                <li><a href="">contact us</a></li>
            </ul>
        </nav>
        <!--     <video id="video" autoplay loop playsinline muted="false" class="back_video">
        
        <source src="../static/1.mp4" type="video/mp4">
        Your browser does not support the video tag.
        </video>-->
        <img id="video" class="back_video" src="/static/land2.jpg" alt="">
        <div id="main">
            <h1>MOVIE MATE FOR U</h1>
            <div id="anchor">
                <a href="/movies" id="movie1"> --MOVIE-- </a>

            </div>
        </div>

    </div>
</body>

</html>